<% provide(:title, '') %>
<%= link_to_if(current_parent.nil?, "Sign in / Sign up to book a camp", new_parent_session_path) do
     link_to('Book a camp', new_parent_camp_registration_path(current_parent), :class => "btn btn-primary")
   end
  %>
<div id="wrapper">
  <h2>Next Camp: <%= @camp.name %></h2>
  <p>Starts <%= start_date_for(@camp) %>
  <%= link_to 'Details', camp_path(@camp) %></p>

  <div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
      <div id="slider">
        <%= image_tag "image1400.jpg" %>
        <%= image_tag "image2400.jpg" %>
        <%= image_tag "image3400.jpg" %>
        <%= image_tag "image4400.jpg" %>
      </div>
    </div>
  </div>
</div>
<script>
  $(window).load(function(){
    $('#slider').ramblingSlider({
      'effect': 'fade',
      'speed' : 1000,
      'pauseTime' : 3000
    });
  });
</script>
<div>
  <%= link_to "Sign up", new_parent_registration_path, class: 'btn btn-large btn-primary' %>
</div>
