<div>
<<<<<<< HEAD
  <%= render :partial => 'shared/register_camp_link'  %>
  <%= render :partial => 'shared/payment_link'  %>
=======
>>>>>>> master
  <h2>Camps</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <% @camps.each do |camp| %>
      <tr>
        <td><%= camp.name %></td>
        <td><%= camp.location.name %></td>
        <td><%= start_date_for(camp) if camp.camp_sessions.any? %></td>
        <td><%= end_date_for(camp) if camp.camp_sessions.any? %></td>
        <td><%= link_to 'Full details', camp_path(camp) %></td>
      </tr>
    <% end %>
  </table>
</div>
