<%= redirect_to root_path unless current_parent %>
<% provide(:title, 'Camp Registrations') %>
<%= render 'shared/register_camp_link' if current_parent %>
<%= render 'shared/payment_link' if current_parent %>
<p>Your Registrations</p>
  <% if @parent.camp_registrations.none? %>
  <p>You have no registrations.</p>
<% else %>
  <% @camp_registrations.each do |cr| %>
    <h3><%= cr.player.name %></h3>
    <ul>
      <% cr.group_by { |r| r.camp_session.camp }.map do |camp, registrations| %>
        <li>
          <%= camp.name %> - <%= registrations.map(&:id).join(', ') %>
        </li>
      <% end %>
    </ul>
  <% end %>

<% end %>
