<% provide(:title, 'New Camp Registration') %>
<h2>Camp Registration</h2>
<%= form_for @camp_registration, :url => new_parent_camp_registration_path(current_parent),
      :html => { :class => 'general' } do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:object => f.object } %>
  <fieldset>
    <%= f.collection_select(:camp_session_id, @camp_sessions, :id, :title_with_start_date, {prompt: 'Select a session(s)'}, {:multiple => true }) %>
    <%= f.collection_select(:player_id, @players, :id, :full_name, {prompt: 'Select a player'}) %>
  </fieldset>
  <div class="submit">
    <%= link_to 'Book', new_parent_camp_registration_path, :class => "btn btn-primary" %>
  </div> <!-- div.submit -->
<% end %>
