<%= redirect_to root_path unless current_parent %>
<% provide(:title, 'Registration') %>
<%= render 'shared/register_camp_link'  %>
<h2>Registration</h2>
<table>
  <tr>
    <th>Player</th>
    <th>Session</th>
  </tr>
  <tr>
    <% @camp_registrations.each do |cr| %>
      <% cr.players.each do |p| %>
      <th><%= p.full_name %></th>
        <% p.camp_sessions.each do |camp_session| %>
        <th><%= camp_session.title %></th>
        <th><%= format_time(camp_session.start_time) %></th>
        <th><%= format_time(camp_session.end_time) %></th>
      </tr>
    <% end %>
  <% end %>
</table>
