<%= form_tag parent_charges_path(current_parent) do %>
  <section>
    <%= render 'shared/details' %>
  </section>
  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@amount, {:unit => '£'}) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
          data-description="A month's subscription"
          data-amount= <%= "#{@amount * 100}" %>
          data-currency="GBP">
          </script>
<% end %>
